@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 20px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);
}

body {
  font-family: sans-serif;
  background-color: var(--color-secondary-100);
}

body {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.page-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  padding: 2rem;
}
.page-heading h2{
  font-size: 3.3rem;
  color: var(--color-secondary-500);
  
}
.search-form{
  width: 30%;
  background-color: white;
  display: block;
  border: 1px solid #ececec;
  border-radius: 15px;
  padding:1rem ;
  text-wrap: nowrap;
}
.search-form i{
  cursor: pointer;
  color: var(--color-secondary-300);
  padding-right: 1rem;
  
}
.transactions__search{
  width: 90%;
  outline: 0;
  border: 0;
}
.transactions__search::placeholder{
  color: var(--color-secondary-300);
  font-family: Vazirmatn;
}
.transactions-container{
  padding: 2rem;
}
.btn-container{
  text-align: center;
}
.transactions-btn{
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color:rgba(0, 155, 175, 1);
  padding: 2rem 10rem;
  border-radius:var(--border-radius-lg);
  color: var(--color-secondary-0);
  font-family: Vazirmatn;
  font-weight: 800;
  font-size: 3.5rem;
  margin-top: 10rem;
  
}
.hidden{
  display: none;
  opacity: 0;
}
.transactions-list{
  background-color: white;
  width: 100%;
  border: 1px solid var(--color-secondary-300);
  border-radius: var(--border-radius-md);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.2);
  padding:5rem 2rem;
  color: #878787;
  font-size: 1.5rem;
}
.transactions__title{
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
table, tr{
  border: 1px solid #ececec;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 50px;
}
th{
  background-color: #f7f8fa;
  padding: 1rem;
  border: none;
  
}
th > i{
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 1rem;
}

td {
  padding: 1rem;
  text-align: center;
 
}
.color-red{
  color:var(--color-red-500);
}
.color-green{
  color:var(--color-success);
}